{
  "twitter": {
    "baseUrl": "https://api.twitter.com/",
    "key": "mySuperKey",
    "secret": "mySuperSecret",
    "token": "someAwkwardStrangeLongTextToken"
  },
  "message": {
    "maleMnemonic": "",
    "femaleMnemonic": "",
    "qty": 20
  }
}